.container{
    
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
      
      
}
#cart {
    max-width: 1440px;
    padding-top: 60px;
    margin: auto;
  }
  .form div {
    margin-bottom: 0.4em;
  }
  .items {
    padding-right: 30px;
  }
  #btn-checkout {
    min-width: 100%;
    background-color: var(--primary-color);
color: white;
  }
  #btn-checkout:hover{
    background-color: white;
    color: var(--primary-color);
  }
  